.rally-form {
    display: inline-flex;
    flex-flow: column nowrap;
    align-items: stretch;
    gap: 0.5em;
    width: min-content;

    padding: 12px;
}
.rally-form-species {
    padding-inline: 0.4em;
    padding-block: 0.2em;
}
.rally-form-img {
    width: 12em;
    height: 12em;
    aspect-ratio: 1 / 1;
    background-color: rgba(0.5, 0.5, 0.5, 0.5);
    margin-inline: 8px;

    align-self: center;
}
.rally-form-ability-wrap {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
.rally-form-ability-wrap label,
.rally-form-personality-wrap legend,
.rally-form-ups-input label,
.rally-form-moves-wrap legend,
.rally-form-ups-wrap legend {
    font-size: 0.8rem;
    font-weight: bold;
}
.rally-form-personality-wrap {
    border: none;
    padding: 0;
    margin: 0;
}
.rally-form-personality-row {
    display: flex;
    flex-flow: row nowrap;
    
    margin-inline: 1em;
}
.rally-form-personality-row label {
    display: inline-block;
    font-size: 0.8em;
    width: 5em;
}
.rally-form-personality-row select {
    display: inline-block;
    flex-grow: 1;
}
.rally-form-ups-wrap {
    border: none;
    padding: 0;
    margin: 0;
    
    display: flex;
    flex-flow: row nowrap;

    max-width: 100%;
}
.rally-form-ups-inputs-wrap {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

    padding-inline: 0.5em;
}
.rally-form-ups-input {
    flex: 0 0 25%;
    width: 25%;
    
    gap: 0;
}
.rally-form-ups-input label {
    font-size: 0.7em;
    display: inline-block;
    width: stretch;
    text-align: center;
}
.rally-form-ups-input input {
    font-size: 0.8em;
    width: stretch;
    margin-inline: 4px;
}
.rally-form-moves-wrap {
    border: none;
    padding: 0;
}
.rally-form-moves-wrap input {
    margin-inline-start: 8px;
    width: stretch;
}